.simple-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    min-width: 220px;
    max-width: 30%;
    width: 20%;
}

.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.paginator {
    margin-top: 1rem;
    background-color: #222222;
    border-radius: 7px;
    padding: 0.5rem;
}
